Repository toggl-open-source/toggldesktop, pull requests merged in 2019-07, with the labels that each got.

#3052 Fix Tasks handling in the Time Entry Editor
  src/ui/linux/TogglDesktop/autocompletelistmodel.cpp
  src/ui/linux/TogglDesktop/timerwidget.cpp
Labels: linux

#3056 Do not record timeline when PC is locked
  src/context.cc
  src/context.h
  src/toggl_api.cc
  src/toggl_api.h
  src/ui/windows/TogglDesktop/TogglDesktop/Toggl.cs
  src/ui/windows/TogglDesktop/TogglDesktop/TogglApi.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/MainWindow.xaml.cs
  src/window_change_recorder.cc
  src/window_change_recorder.h
Labels: lib, windows

#3059 UX improvements: Double click to select word, triple click to select entire field
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/ExtendedTextBox.cs
Labels: windows

#3069 Preferences pomodoro break timer visibilty bug fix
  src/ui/windows/TogglDesktop/TogglDesktop/TogglDesktop.csproj
  src/ui/windows/TogglDesktop/TogglDesktop/ui/Converters/AndConverter.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/PreferencesWindow.xaml
Labels: windows

#3073 Switch from packages.config to PackageReference (win)
  src/ui/windows/TogglDesktop/.nuget/NuGet.Config
  src/ui/windows/TogglDesktop/.nuget/NuGet.exe
  src/ui/windows/TogglDesktop/.nuget/NuGet.targets
  src/ui/windows/TogglDesktop/TogglDesktop.sln
  src/ui/windows/TogglDesktop/TogglDesktop/TogglDesktop.csproj
  src/ui/windows/TogglDesktop/TogglDesktop/packages.config
  src/ui/windows/TogglDesktop/TogglDesktopUpdater/TogglDesktopUpdater.csproj
  src/ui/windows/TogglDesktop/TogglDesktopUpdater/bin/Release/Newtonsoft.Json.xml
  src/ui/windows/TogglDesktop/TogglDesktopUpdater/packages.config
Labels: windows

#3079 Fixed idle popup not being on top when shown
  src/ui/osx/TogglDesktop/test2/IdleNotificationWindowController.m
Labels: good first issue

#3080 Look into relative ../share folder for the cacert file, too (linux)
  src/ui/linux/TogglDesktop/toggl.cpp
Labels: linux

#3088 When adding an existing tag, just make it checked
  src/ui/linux/TogglDesktop/timeentryeditorwidget.cpp
Labels: linux

#3089 Always select time entry workspace by default when opening 'Add project'
  src/ui/linux/TogglDesktop/timeentryeditorwidget.cpp
Labels: bug, linux

#3093 Select date based on actual selected value instead of parsing string representation
  src/ui/windows/TogglDesktop/TogglDesktop/ui/views/EditView.xaml.cs
Labels: windows

#3094 Close notification when starting timer (win)
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/MainWindow.xaml.cs
Labels: windows

#3098 Rework auto-update system to use github pages instead of v8 API
  src/context.cc
  src/context.h
  src/window_change_recorder.cc
  src/window_change_recorder.h
  third_party/google-astyle/astyle_main.h
Labels: lib

#3117 Remember which client was created to select it when the update comes
  src/ui/linux/TogglDesktop/timeentryeditorwidget.cpp
  src/ui/linux/TogglDesktop/timeentryeditorwidget.h
Labels: linux

#3113 Force focus to the delete button when backtabbing on the description field
  src/ui/linux/TogglDesktop/timeentryeditorwidget.cpp
Labels: linux

#3127 Force scrolling to items in the list only when tabbed to
  src/ui/linux/TogglDesktop/timeentrycellwidget.cpp
Labels: linux

#3119 Fix font color in idle and feedback dialogs
  src/ui/linux/TogglDesktop/feedbackdialog.ui
  src/ui/linux/TogglDesktop/idlenotificationwidget.ui
Labels: linux

#3132 Linux appstream: add content rating and change metadata license
  src/ui/linux/TogglDesktop/dist/com.toggl.TogglDesktop.appdata.xml.in
Labels: linux

#3137 Add text if app is 32bit or 64bit into the about view (win)
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/AboutWindow.xaml.cs
Labels: windows

#3145 Description text field disappears when the TE is running
  src/ui/osx/TogglDesktop/Feature/TimeEntryEditor/EditorViewController.swift
Labels: bug, macOs

#3053 Disable logging for QtWebEngine
  src/ui/linux/TogglDesktop.sh
Labels: linux

#3155 Group entries with same tags but different order, closes #3133 (lib)
  src/context.cc
  src/gui.cc
  src/time_entry.cc
  src/time_entry.h
Labels: lib

#3153 Windows size is shrinking everytime App opens
  src/ui/osx/TogglDesktop/MainWindowController.m
  src/ui/osx/TogglDesktop/MainWindowController.xib
Labels: macOs

#3150 Hide the window instead of closing
  src/ui/windows/TogglDesktop/TogglDesktop/ui/UIExtensions.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/AboutWindow.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/FeedbackWindow.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/IdleNotificationWindow.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/MiniTimerWindow.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/PreferencesWindow.xaml.cs
Labels: windows

#3163 Show Load More button if latest entry was more than 10 days ago
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/TimeEntryList.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/views/TimerEntryListView.xaml.cs
Labels: windows
