Repository toggl-open-source/toggldesktop, pull requests merged in 2019-05, with the labels that each got.

#2785 Background thread for APIs
  src/context.cc
  src/context.h
  src/gui.cc
  src/toggl_api.cc
  src/toggl_api.h
  src/ui/linux/TogglDesktop/loginwidget.cpp
  src/ui/linux/TogglDesktop/loginwidget.h
  src/ui/linux/TogglDesktop/mainwindowcontroller.cpp
  src/ui/linux/TogglDesktop/timeentryeditorwidget.cpp
  src/ui/linux/TogglDesktop/timeentrylistwidget.cpp
  src/ui/linux/TogglDesktop/toggl.cpp
  src/ui/osx/TogglDesktop/LoginViewController.h
  src/ui/osx/TogglDesktop/LoginViewController.m
  src/ui/osx/TogglDesktop/LoginViewController.xib
  src/ui/osx/TogglDesktop/MainWindowController.m
  src/ui/osx/TogglDesktop/TimeEntryListViewController.m
  src/ui/osx/TogglDesktop/test2/AppDelegate.m
Labels: lib, linux, macOs, windows

#2963 Fix for Windows app crash when pressing Left arrow key #2959 (win)
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/TimeEntryList.xaml.cs
Labels: windows

#2962 Fixed updating timer after start stop actions with global shortcuts
  src/ui/osx/TogglDesktop/TimerEditViewController.m
Labels: bug, macOs
