Repository toggl-open-source/toggldesktop, pull requests merged in 2020-06, with the labels that each got.

#4096 Project Color Formula
  Makefile
  src/CMakeLists.txt
  src/color_convert.cc
  src/color_convert.h
  src/lib/osx/TogglDesktopLibrary.xcodeproj/project.pbxproj
  src/lib/windows/TogglDesktopDLL/TogglDesktopDLL.vcxproj
  src/test/app_test.cc
  src/toggl_api.cc
  src/toggl_api.h
  src/ui/osx/TogglDesktop/Feature/ColorWheel/Color+Adaptive.swift
  src/ui/osx/TogglDesktop/Feature/TimeEntry/Views/DotImageView.swift
  src/ui/osx/TogglDesktop/Feature/TimeEntryEditor/AutoComplete/Input/ProjectAutoCompleteTextField.swift
  src/ui/osx/TogglDesktop/Feature/TimeEntryEditor/DesktopLibraryBridge.h
  src/ui/osx/TogglDesktop/Feature/TimeEntryEditor/DesktopLibraryBridge.m
  src/ui/osx/TogglDesktop/Feature/TimeEntryEditor/Project/ColorViewItem.swift
  src/ui/osx/TogglDesktop/Feature/TimeEntryEditor/Project/ProjectCreationView.swift
  src/ui/osx/TogglDesktop/Feature/Timeline/Models/TimelineActivity.swift
  src/ui/osx/TogglDesktop/Feature/Timeline/Views/TimelineBaseCell.swift
  src/ui/osx/TogglDesktop/Swift/Extensions/NSColor+VisibleColor.swift
  src/ui/osx/TogglDesktop/TogglDesktop.xcodeproj/project.pbxproj
  src/ui/osx/TogglDesktop/test2/ProjectTextField.m
Labels: macOs

#4134 Fix undoing time entry stopping the timer
  src/toggl_api.cc
  src/toggl_api.h
  src/ui/osx/TogglDesktop/Feature/TimeEntryEditor/DesktopLibraryBridge.m
Labels: bug, lib, macOs

#4112 Implement basic pull against the sync server
  src/const.h
  src/context.cc
  src/context.h
  src/model/client.cc
  src/model/project.cc
  src/model/tag.cc
  src/model/task.cc
  src/model/time_entry.cc
  src/model/user.cc
  src/model/user.h
  src/test/app_test.cc
  src/urls.cc
  src/urls.h
Labels: lib

#4128 Add properties to data models 2.0
  CMakeLists.txt
  src/context.cc
  src/database/database.cc
  src/gui.cc
  src/lib/osx/TogglDesktopLibrary.xcodeproj/project.pbxproj
  src/lib/windows/TogglDesktopDLL/TogglDesktopDLL.vcxproj
  src/lib/windows/TogglDesktopDLL/TogglDesktopDLL.vcxproj.filters
  src/model/autotracker.cc
  src/model/autotracker.h
  src/model/base_model.cc
  src/model/base_model.h
  src/model/client.cc
  src/model/client.h
  src/model/obm_action.cc
  src/model/obm_action.h
  src/model/project.cc
  src/model/project.h
  src/model/tag.cc
  src/model/tag.h
  src/model/task.cc
  src/model/task.h
  src/model/time_entry.cc
  src/model/time_entry.h
  src/model/timeline_event.cc
  src/model/timeline_event.h
  src/model/user.cc
  src/model/user.h
  src/model/workspace.cc
  src/model/workspace.h
  src/onboarding_service.cpp
  src/related_data.cc
  src/test/app_test.cc
  src/test/toggl_api_test.cc
  src/util/property.h
  src/window_change_recorder.cc
Labels: lib

#4161 Fix C# API code generation
  src/color_convert.cc
  src/color_convert.h
  src/context.cc
  src/cpptime.h
  src/gui.h
  src/https_client.cc
  src/onboarding_service.h
  src/script/generate_cs_api.go
  src/test/app_test.cc
  src/toggl_api.cc
  src/toggl_api.h
  src/ui/osx/TogglDesktop/Feature/TimeEntryEditor/DesktopLibraryBridge.m
  src/ui/windows/TogglDesktop/TogglDesktop.Tests/LibraryUnitTests.cs
  src/ui/windows/TogglDesktop/TogglDesktop.Tests/TogglDesktop.Tests.csproj
  src/ui/windows/TogglDesktop/TogglDesktop/Toggl.cs
  src/ui/windows/TogglDesktop/TogglDesktop/TogglApi.cs
Labels: lib, windows

#4138 Fix Zoom button is hidden randomly (mac)
  src/ui/osx/TogglDesktop/Feature/Timeline/TimelineDashboardViewController.swift
  src/ui/osx/TogglDesktop/Feature/Timeline/TimelineDashboardViewController.xib
Labels: bug, macOs

#4176 Increase the font size of time entry description and project
  src/ui/windows/TogglDesktop/TogglDesktop/ui/Resources/DesignUpdate/Typography.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/Resources/TimeEntryCellStyles.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/MiniTimer.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/ProjectLabel.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/TimeEntryCell.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/TimeEntryCellDayHeader.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/TimeEntryLabel.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/views/Timer.xaml
Labels: windows

#4146 Add Tracking for Timeline Menu Context
  src/analytics.cc
  src/analytics.h
  src/context.cc
  src/context.h
  src/script/generate_cs_api.go
  src/toggl_api.cc
  src/toggl_api.h
  src/ui/osx/TogglDesktop/Feature/TimeEntryEditor/DesktopLibraryBridge.h
  src/ui/osx/TogglDesktop/Feature/TimeEntryEditor/DesktopLibraryBridge.m
  src/ui/osx/TogglDesktop/Feature/Timeline/Views/TimelineTimeEntryMenu.swift
  src/ui/osx/TogglDesktop/Other/TogglDesktop-Bridging-Header.h
  src/ui/windows/TogglDesktop/TogglDesktop/TogglApi.cs
Labels: macOs

#4189 Allow release builds to connect to Staging
  src/context.cc
  src/context.h
  src/toggl_api.cc
  src/toggl_api.h
  src/ui/linux/TogglDesktop/main.cpp
  src/ui/osx/TogglDesktop/test2/AppDelegate.m
  src/ui/windows/TogglDesktop/TogglDesktop/Toggl.cs
  src/ui/windows/TogglDesktop/TogglDesktop/TogglApi.cs
  src/urls.cc
Labels: lib, linux, macOs, windows

#4195 Adaptive project colors on Windows
  src/toggl_api.cc
  src/toggl_api.h
  src/ui/windows/TogglDesktop/TogglDesktop.Tests/LibraryUnitTests.cs
  src/ui/windows/TogglDesktop/TogglDesktop/App.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/Toggl.cs
  src/ui/windows/TogglDesktop/TogglDesktop/TogglApi.cs
  src/ui/windows/TogglDesktop/TogglDesktop/TogglDesktop.csproj
  src/ui/windows/TogglDesktop/TogglDesktop/ui/Converters/AdaptProjectColorConverter.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/Theming/Theme.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/Theming/ThemeType.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/ViewModels/ProjectLabelViewModel.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/AutoCompletionPopup.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/AutotrackerSettings.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/ProjectColorPicker.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/ProjectColorPicker.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/ProjectLabel.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/ProjectToolTip.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/views/EditView.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/PreferencesWindow.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/utilities/ColorSchemeExtensions.cs
  src/ui/windows/TogglDesktop/TogglDesktop/utilities/Utils.cs
Labels: windows

#4168 Fix project autocomplete not displaying the right text (linux)
  src/ui/linux/TogglDesktop/autocompletecombobox.cpp
  src/ui/linux/TogglDesktop/autocompletelistmodel.cpp
Labels: linux
