Repository toggl-open-source/toggldesktop, pull requests merged in 2020-03, with the labels that each got.

#3821 Github Action improvement for macOS DEV Release
  .github/workflows/main.yml
  dist/get-tag-name.sh
  dist/osx/appcast.go
  dist/osx/appcast_template.xml
  dist/osx/build.sh
  dist/parse_releases.sh
  dist/update_release_links.sh
  dist/update_releases.sh
  dist/update_updates.sh
  dist/upload_to_github.go
Labels: macOs

#3870 Add caching for GitHub Actions Windows builds
  .github/workflows/main.yml
Labels: windows

#3869 Fix mini timer minimum size bug
  src/ui/windows/TogglDesktop/TogglDesktop/AutoCompletion/AutoCompleteController.cs
  src/ui/windows/TogglDesktop/TogglDesktop/TogglDesktop.csproj
  src/ui/windows/TogglDesktop/TogglDesktop/ui/ViewModels/ProjectLabelViewModel.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/ViewModels/TimeEntryCellViewModel.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/ViewModels/TimeEntryLabelViewModel.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/ViewModels/ViewModelExtensions.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/MiniTimer.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/MiniTimer.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/ProjectLabel.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/ProjectLabel.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/TimeEntryCell.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/TimeEntryCell.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/TimeEntryInfoPanel.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/TimeEntryInfoPanel.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/TimeEntryLabel.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/TimeEntryLabel.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/TrayToolTipControl.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/TrayToolTipControl.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/views/EditView.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/views/Timer.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/views/Timer.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/MainWindow.xaml.cs
Labels: windows

#3866 Add the ability to switch the color theme in Preferences
  src/analytics.cc
  src/context.cc
  src/context.h
  src/database.cc
  src/database.h
  src/migrations.cc
  src/script/generate_cs_api.go
  src/settings.cc
  src/settings.h
  src/toggl_api.cc
  src/toggl_api.h
  src/toggl_api_private.cc
  src/ui/windows/TogglDesktop/TogglDesktop/Toggl.cs
  src/ui/windows/TogglDesktop/TogglDesktop/TogglApi.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/Theming/Theme.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/MainWindow.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/MainWindow.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/PreferencesWindow.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/PreferencesWindow.xaml.cs
Labels: windows

#3875 Register application shortcuts on Edit view popup window
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/EditViewPopup.xaml.cs
Labels: windows

#3872 Context menu new design
  src/ui/windows/TogglDesktop/TogglDesktop/ui/KeyboardShortcuts.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/Resources/DesignUpdate/ContextMenu.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/Resources/DesignUpdate/Icons.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/Resources/DesignUpdate/MahApps.Overrides.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/Resources/DesignUpdate/TextBox.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/ViewModels/PreferencesWindowViewModel.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/MainWindow.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/MainWindow.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/MessageBox.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/MiniTimerWindow.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/PreferencesWindow.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/PreferencesWindow.xaml.cs
Labels: windows

#3882 Fix Esc key not closing the Edit view
  src/ui/windows/TogglDesktop/TogglDesktop/ui/views/TimerEntryListView.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/MainWindow.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/MainWindow.xaml.cs
Labels: windows

#3888 Fix the conflict between the shortcut to switch to next/previous day on Timeline and built-in macOS shortcut
  src/ui/osx/TogglDesktop/test2/Base.lproj/MainMenu.xib
Labels: macOs

#3885 Bug/GitHub action update release update json
  dist/parse_releases.sh
Labels: actions, macOs

#3896 Windows app minor UX improvements
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/MiniTimer.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/MiniTimer.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/TimeEntryList.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/TimeEntryList.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/MainWindow.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/MiniTimerWindow.xaml.cs
Labels: windows

#3856 Change appcast url from assets.toggl.com to github pages
  src/ui/osx/TogglDesktop/Utils.m
Labels: macOs

#3899 Added missing keyboard shortcuts to menubar menu
  src/ui/osx/TogglDesktop/test2/AppDelegate.m
Labels: enhancement, macOs

#3713 Add HTTP support (lib)
  src/analytics.cc
  src/context.cc
  src/https_client.cc
  src/https_client.h
  src/netconf.cc
  src/netconf.h
  src/test/toggl_api_test.cc
  src/time_entry.cc
  src/timeline_uploader.cc
  src/toggl_api.cc
  src/user.cc
  src/websocket_client.cc
  src/websocket_client.h
Labels: lib

#3914 Fix possible crash when selecting the default workspace (mac)
  src/ui/osx/TogglDesktop/Feature/TimeEntryEditor/AutoComplete/DataSource/AutoCompleteViewDataSource.swift
Labels: macOs

#3907 Fix window size and location on first app launch
  src/ui/windows/TogglDesktop/TogglDesktop/ui/views/LoginView.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/utilities/Utils.cs
Labels: windows

#3913 Update new Mac Developer Certificate (ga)
  .github/workflows/main.yml
Labels: macOs

#3886 Clean up pushChanges and make it generic for all models
  src/base_model.cc
  src/base_model.h
  src/client.cc
  src/client.h
  src/context.cc
  src/context.h
  src/https_client.cc
  src/https_client.h
  src/project.cc
  src/project.h
  src/test/app_test.cc
  src/time_entry.cc
  src/time_entry.h
  src/user.cc
  src/user.h
  src/util/memory.h
Labels: lib

#3911 Fix failure to show a custom notification
  src/ui/windows/TogglDesktop/TogglDesktop/TogglDesktop.csproj
  src/ui/windows/TogglDesktop/TogglDesktop/ui/Notifications/AutotrackerNotification.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/Notifications/AutotrackerNotification.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/Notifications/NotificationManager.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/Notifications/PomodoroNotification.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/Notifications/PomodoroNotification.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/Notifications/ReminderNotification.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/Notifications/ReminderNotification.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/Notifications/TogglNotification.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/UIExtensions.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/AutotrackerNotification.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/PomodoroNotification.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/ReminderNotification.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/MainWindow.xaml.cs
Labels: windows

#3650 Modernize Running Process APIs
  src/get_focused_window_mac.cc
  src/lib/osx/Kopsik/MacOSApplicationInfo.mm
  src/lib/osx/TogglDesktopLibrary.xcodeproj/project.pbxproj
Labels: enhancement, lib, macOs

#3904 Windows app auto update improvements
  dist/windows/TogglDesktopInstaller-x64.nsi
  dist/windows/TogglDesktopInstaller-x86.nsi
  src/ui/windows/TogglDesktop/TogglDesktop/App.config
  src/ui/windows/TogglDesktop/TogglDesktop/Properties/AssemblyInfo.cs
  src/ui/windows/TogglDesktop/TogglDesktop/Services/NsisPackageExtractor.cs
  src/ui/windows/TogglDesktop/TogglDesktop/Services/UpdateService.cs
  src/ui/windows/TogglDesktop/TogglDesktop/Services/UpdateStatus.cs
  src/ui/windows/TogglDesktop/TogglDesktop/Services/Win10/RunOnStartup.cs
  src/ui/windows/TogglDesktop/TogglDesktop/Toggl.cs
  src/ui/windows/TogglDesktop/TogglDesktop/TogglDesktop.csproj
  src/ui/windows/TogglDesktop/TogglDesktop/ui/Converters/CapitalizeConverter.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/ViewModels/AboutWindowViewModel.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/AboutWindow.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/AboutWindow.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/MainWindow.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/PreferencesWindow.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/utilities/Utils.cs
Labels: windows

#3931 Typo in Apple Sign In
  src/ui/osx/TogglDesktop/LoginViewController.m
Labels: macOs

#3932 Improve Google Error message and layout
  src/ui/osx/TogglDesktop/Feature/SystemMessage/FloatingErrorView.xib
  src/ui/osx/TogglDesktop/LoginViewController.m
  src/ui/osx/TogglDesktop/MainWindowController.m
Labels: macOs

#3930 Shut down the app process in the uninstaller
  dist/windows/TogglDesktopInstaller-x64.nsi
  dist/windows/TogglDesktopInstaller-x86.nsi
Labels: windows

#3935 Tracking Apple Login & Sign up
  src/analytics.cc
  src/analytics.h
  src/const.h
  src/context.cc
Labels: macOs

#3936 Fix project autocompletion adding client name to project field
  src/ui/windows/TogglDesktop/TogglDesktop/AutoCompletion/AutoCompleteController.cs
  src/ui/windows/TogglDesktop/TogglDesktop/AutoCompletion/AutoCompleteControllersFactory.cs
  src/ui/windows/TogglDesktop/TogglDesktop/AutoCompletion/AutoCompleteItem.cs
  src/ui/windows/TogglDesktop/TogglDesktop/AutoCompletion/AutoCompleteListItem.cs
  src/ui/windows/TogglDesktop/TogglDesktop/AutoCompletion/IAutoCompleteController.cs
  src/ui/windows/TogglDesktop/TogglDesktop/AutoCompletion/IAutoCompleteListItem.cs
  src/ui/windows/TogglDesktop/TogglDesktop/AutoCompletion/Implementation/AutoCompleteControllers.cs
  src/ui/windows/TogglDesktop/TogglDesktop/AutoCompletion/Implementation/ModelItem.cs
  src/ui/windows/TogglDesktop/TogglDesktop/AutoCompletion/Implementation/SimpleItem.cs
  src/ui/windows/TogglDesktop/TogglDesktop/AutoCompletion/Implementation/StringItem.cs
  src/ui/windows/TogglDesktop/TogglDesktop/AutoCompletion/Implementation/TimerItem.cs
  src/ui/windows/TogglDesktop/TogglDesktop/AutoCompletion/Items/AutoCompleteItem.cs
  src/ui/windows/TogglDesktop/TogglDesktop/AutoCompletion/Items/AutoCompleteItemExtensions.cs
  src/ui/windows/TogglDesktop/TogglDesktop/AutoCompletion/Items/CustomTextItem.cs
  src/ui/windows/TogglDesktop/TogglDesktop/AutoCompletion/Items/GenericModelItem.cs
  src/ui/windows/TogglDesktop/TogglDesktop/AutoCompletion/Items/IAutoCompleteItem.cs
  src/ui/windows/TogglDesktop/TogglDesktop/AutoCompletion/Items/IModelItem.cs
  src/ui/windows/TogglDesktop/TogglDesktop/AutoCompletion/Items/ModelItem.cs
  src/ui/windows/TogglDesktop/TogglDesktop/AutoCompletion/Items/NoProjectItem.cs
  src/ui/windows/TogglDesktop/TogglDesktop/AutoCompletion/Items/ProjectItem.cs
  src/ui/windows/TogglDesktop/TogglDesktop/AutoCompletion/Items/TagItem.cs
  src/ui/windows/TogglDesktop/TogglDesktop/AutoCompletion/Items/TimeEntryItem.cs
  src/ui/windows/TogglDesktop/TogglDesktop/AutoCompletion/Items/WorkspaceSeparatorItem.cs
  src/ui/windows/TogglDesktop/TogglDesktop/AutoCompletion/ListBoxItemViewModel.cs
  src/ui/windows/TogglDesktop/TogglDesktop/AutoCompletion/ListBoxSelectionManager.cs
  src/ui/windows/TogglDesktop/TogglDesktop/AutoCompletion/TagsAutoCompleteController.cs
  src/ui/windows/TogglDesktop/TogglDesktop/TogglDesktop.csproj
  src/ui/windows/TogglDesktop/TogglDesktop/ui/Converters/IsSelectableItemConverter.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/ModelExtensions.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/AutoCompletionPopup.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/AutoCompletionPopup.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/AutotrackerSettings.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/MiniTimer.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/TagList.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/controls/TagList.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/views/EditView.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/views/Timer.xaml.cs
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/PreferencesWindow.xaml.cs
Labels: windows

#3943 Fix taskbar icon not displaying the tracking status
  src/ui/windows/TogglDesktop/TogglDesktop/Properties/Resources.Designer.cs
  src/ui/windows/TogglDesktop/TogglDesktop/Properties/Resources.resx
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/Border.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/Close.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/CloseDisabled.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/CloseHot.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/ClosePressed.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/Fonts/Roboto-Bold.ttf
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/Fonts/Roboto-Light.ttf
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/Fonts/Roboto-Medium.ttf
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/Fonts/Roboto-Regular.ttf
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/Maximize.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/MaximizeDisabled.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/MaximizeHot.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/MaximizePressed.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/Minimize.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/MinimizeDisabled.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/MinimizeHot.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/MinimizePressed.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/cog.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/cogDisabled.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/cogHot.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/cogPressed.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/continue.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/continue_hover.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/continue_light.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/darkBg.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/group_icon_closed.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/group_icon_open.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/ic_arrow_back_grey600_24dp.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/ic_arrow_back_grey600_36dp.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/ic_calendar_2x.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/ic_cancel_grey600_24dp.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/ic_delete_grey600_36dp.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/ic_expand_more_grey600_36dp.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/ic_maximize_grey600_36dp.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/ic_minimize_grey600_36dp.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/icon-billable.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/icon-tags.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/icon-x.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/logo.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/logo64.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/popup_arrow.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/popup_arrow_right.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/popup_back_right.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/resize.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/shadow.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/timerDarkBg.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/toggl-logo-white.png
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/toggl-transparent.ico
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/toggl_inactive-transparent.ico
  src/ui/windows/TogglDesktop/TogglDesktop/Resources/trash_can.png
  src/ui/windows/TogglDesktop/TogglDesktop/TogglDesktop.csproj
  src/ui/windows/TogglDesktop/TogglDesktop/ui/Resources/DesignUpdate/Window.xaml
  src/ui/windows/TogglDesktop/TogglDesktop/ui/windows/MainWindow.xaml.cs
Labels: windows

#3946 Fix ArgumentException crash when restoring edit view width
  src/ui/windows/TogglDesktop/TogglDesktop/utilities/Utils.cs
Labels: bug, windows

#3653 Update Description, Project and Tag in one func
  src/context.cc
  src/context.h
  src/toggl_api.cc
  src/toggl_api.h
  src/ui/osx/TogglDesktop/Feature/TimeEntryEditor/DesktopLibraryBridge.m
  src/websocket_client.h
Labels: lib, macOs

#3949 Resurrect old Windows<->Library interop tests
  src/ui/windows/TogglDesktop/TogglDesktop.NoPoco.sln
  src/ui/windows/TogglDesktop/TogglDesktop.Tests/LibraryFixture.cs
  src/ui/windows/TogglDesktop/TogglDesktop.Tests/LibraryIntegrationTests.cs
  src/ui/windows/TogglDesktop/TogglDesktop.Tests/LibraryUnitTests.cs
  src/ui/windows/TogglDesktop/TogglDesktop.Tests/Properties/AssemblyInfo.cs
  src/ui/windows/TogglDesktop/TogglDesktop.Tests/TogglDesktop.Tests.csproj
  src/ui/windows/TogglDesktop/TogglDesktop.Tests/me.json
  src/ui/windows/TogglDesktop/TogglDesktop.sln
  src/ui/windows/TogglDesktop/TogglDesktopDLLInteropTest/LibTest.cs
  src/ui/windows/TogglDesktop/TogglDesktopDLLInteropTest/TogglDesktopDLLInteropTest.csproj
  src/ui/windows/TogglDesktop/TogglDesktopDLLInteropTest/app.config
Labels: windows
